{extends "../@layout.latte"}

{block title}{_bookmarks_tab}{/block}

{block header}
    {_bookmarks_tab} » {tr("faves", $count)} {*tr("showing_x_y", $page, $count)*}
    <div style="float: right;">
        <span><b>
            <a href="search?q=&section=users&order=rating" rel='nofollow'>{_header_search}</a>
        </b></span>
    </div>
{/block}


{block wrap}

<style>
    .attachments.attachments_b {
        width: 100%!important;
    }
    .page_wrap_content_main.scroll_container {
        padding: 10px!important;
        padding-top: 5px!important;
    }
</style>

    <div class="wrap2">
        <div class="wrap1">
            <div class="page_wrap">

                <div class="tabs stupid-fix">
                    <!-- Посты -->
                    <div n:attr="id => $section === 'posts' ? 'activetabs' : false" class="tab">
                        <a n:attr="id => $section === 'posts' ? 'act_tab_a' : false" href="/fave?section=posts">
                            {_s_posts}
                        </a>
                    </div>

                    <!-- Комментарии -->
                    <div n:attr="id => $section === 'comments' ? 'activetabs' : false" class="tab">
                        <a n:attr="id => $section === 'comments' ? 'act_tab_a' : false" href="/fave?section=comments">
                            {_s_comments}
                        </a>
                    </div>

                    <!-- Фотографии -->
                    <div n:attr="id => $section === 'photos' ? 'activetabs' : false" class="tab">
                        <a n:attr="id => $section === 'photos' ? 'act_tab_a' : false" href="/fave?section=photos">
                            {_s_photos}
                        </a>
                    </div>

                    <!-- Видео -->
                    <div n:attr="id => $section === 'videos' ? 'activetabs' : false" class="tab">
                        <a n:attr="id => $section === 'videos' ? 'act_tab_a' : false" href="/fave?section=videos">
                            {_s_videos}
                        </a>
                    </div>
                </div>



                <div class='page_wrap_content' id='search_page'>
                    <div n:class='page_wrap_content_main, scroll_container, ($section == "photos" && $count > 0) ? album-flex'>
                        {if $count > 0}
                            {foreach $data as $dat}
                                {if $dat->isDeleted()}
                                    <div n:class="deleted_mark, $section == 'photos' ? album-photo : deleted_mark_average">
                                        <span>[deleted]</span>
                                    </div>
                                {else}
                                    {if $section == "posts"}
                                        <div class="scroll_node">
                                            {include "../components/post.latte", post => $dat, commentSection => true}
                                        </div>
                                    {elseif $section == "comments"}
                                    <style>
                                            .comment {
                                                border: none;
                                            }
                                    </style>
                                        <div class="scroll_node">
                                            {include "../components/comment.latte", comment => $dat, correctLink => true, no_reply_button => true}
                                        </div>
                                    {elseif $section == "photos"}
                                    <style>
                                            #search_page {
                                                background: #F6F6F6;
                                                padding-top: 12px;
                                            }
                                    </style>
                                        <div class="album-photo scroll_node" onclick="OpenMiniature(event, {$dat->getURLBySizeId('larger')}, null, {$dat->getPrettyId()}, null)">
                                            <a href="/photo{$dat->getPrettyId()}">
                                                <img class="album-photo--image" src="{$dat->getURLBySizeId('tinier')}" alt="{$dat->getDescription()}"  loading="lazy" />
                                            </a>
                                        </div>
                                    {elseif $section == "videos"}
                                    <style>
                                            #search_page {
                                                background: #F6F6F6;
                                                padding-top: 5px;
                                            }
                                            .scroll_node {
                                                background: #fff;
                                                padding: 4px;
                                                border: #DEDEDE solid 1px;
                                            }
                                    </style>
                                        <div class="scroll_node">
                                            {include "../components/video.latte", video => $dat}
                                        </div>
                                    {/if}
                                {/if}
                            {/foreach}
                        {else}
                            {include "../components/content_error.latte", description => tr("faves_".$section."_empty_tip")}
                        {/if}
                    </div>
                </div>

                <div n:if='$paginatorConf->pageCount > 1' class='page_content_paginator_bottom'>
                    {include "../components/paginator.latte", conf => $extendedPaginatorConf}
                </div>
            </div>
        </div>
    </div>
{/block}
