<div class='verticalGrayTabsWrapper'>
    <div class="verticalGrayTabs">
        <div class='with_padding'>


            
        </div>

        {ifset $friendsAudios}
            <div class="friendsAudiosList">
                <a href="/audios{$friend->getRealId()}" n:foreach="$friendsAudios as $friend">
                    <div class="elem">
                        <img src="{$friend->getAvatarURL()}" />

                        <div class="additionalInfo">
                            {var $audioStatus = $audioStatus ?? null}
                            <span class="name noOverflow">{$friend->getCanonicalName()}</span>
                            <span class="desc">{$audioStatus ? $audioStatus->getName() : tr("audios_count", $friend->getAudiosCollectionSize())}</span>
                        </div>
                    </div>
                </a>
            </div>
        {/ifset}
    </div>
</div>
